django
celery[redis]
braintree
dj-rest-auth
django-allauth
django-storages
djangorestframework
python-dotenv
weasyprint
psycopg2
gevent
flower
watchdog
redis
gunicorn
boto3
pylint
pylint-django
pylint-plugin-utils
ec2_metadata
django-health-check
django-cors-headers
