{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Dong Giang Computer{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid" id="header">
      <div class="row justify-content-between">
        <div class="col-4">
          <a href="/" class="logo">Dong Giang Computer</a>
        </div>
        <div class="col-auto">
          {% if user.is_authenticated %}
            <div class="row justify-content-end">
              <div class="col-auto">
                {% if user.first_name %}
                  <p>Welcome, {{ user.first_name }}</p>
                {% else %}
                  <p>Welcome, {{ user.email }}</p>
                {% endif %}
              </div>
              <div class="col-auto">
                <a href="/accounts/logout/">Logout</a>
              </div>
            </div>
          {% else %}
            <div class="">
              <a href="/accounts/login/">Login</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_item=cart|length %}
          {% if total_item > 0 %}
            Your cart:
            <a href="{% url 'cart:cart_detail' %}">
              {{ total_item }} item{{ total_item|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% else %}
            Your cart is empty.
          {% endif %}
        {% endwith %}

      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block payment %}
    {% endblock %}
  </body>
</html>
