{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Pay by Credit Card" %}
{% endblock %}

{% block content %}
  <div class="">
    <h1>{% trans "Pay by Credit Card" %}</h1>
    <form id="payment" method="post">
      <label for="card-number">{% trans "Card Number" %}</label>
      <div id="card-number" class="field"></div>

      <label for="cvv">CVV</label>
      <div class="field" id="cvv"></div>

      <label for="expiration-date">{% trans "Expiration Date" %}</label>
      <div id="expiration-date" class="field"></div>

      <input type="hidden" id="nonce" name="payment_method_nonce" value="">
      {% csrf_token %}
      <input type="submit" value="Pay">
    </form>
  </div>
  <!-- include the Braintree JS Client SDK -->
  <script src="https://js.braintreegateway.com/web/3.85.2/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.85.2/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      // This example shows Hosted Fields, but you can also use this
      // client instance to create additional components here, such as
      // PayPal or Data Collector.

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'font-size': '14px'
          },
          'input.invalid': {
            'color': 'red'
          },
          'input.valid': {
            'color': 'green'
          }
        },
        fields: {
          number: {
            container: '#card-number',
            placeholder: '4111 1111 1111 1111'
          },
          cvv: {
            container: '#cvv',
            placeholder: '123'
          },
          expirationDate: {
            container: '#expiration-date',
            placeholder: '10/2026'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }

            // If this was a real integration, this is where you would
            // send the nonce to your server.
            document.querySelector('#nonce').value = payload.nonce;
            console.log('Got a nonce: ' + payload.nonce);
            document.querySelector('#payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}
